@import "../../assets/styles/base/_fn.scss";

.comHeader {
	height: 75px;
}

.comHeader-logo {
	float: left;
	width: 200px;
	height: 100%;
	padding-top: 18px;
	text-align: center;

	.logo {
		width: 90px;
	}

	.text {
		font-size: $fontSize_light;
	}
}

.comHeader-place {
	float: left;
	width: 70px;
	height: 100%;
	padding-top: 30px;
	text-align: center;

	.link {
		display: inline-block;
		background: $backgroundColor_inactive;
		border-radius: 100px;
		padding: 5px 10px;
		font-size: $fontSize_small;
	}

	.iconfont {
		color: $theme_warn;
		margin-right: 5px;
		vertical-align: middle;
	}

	.text {
		vertical-align: middle;
	}
}

.comHeader-declare {
	float: left;
	width: 300px;
	height: 100%;
	text-align: center;
	padding-top: 30px;

	.hot {
		color: #fff;
		background: $theme_warn;
		font-weight: bold;
		padding: 3px;
		margin-right: 5px;
		display: inline-block;
		font-size: $fontSize_title;
		vertical-align: middle;
		border-radius: 2px;
	}

	.title {
		font-weight: bold;
		margin-right: 15px;
		font-size: $fontSize_title;
		font-size: $fontSize_title;
		vertical-align: middle;
	}

	.info {
		vertical-align: middle;
	}
}

.comHeader-option {
	float: right;
	height: 100%;
	text-align: center;
	padding-top: 28px;

	.box {
		background: $backgroundColor_inactive;
		border: solid $lineColor_default;
		border-width: 1px 1px 0 1px;
		position: relative;
		float: right;
		padding: 0 10px;
		margin-left: 20px;
		height: 30px;
		line-height: 30px;
		&:after{
			@include setBottomLine($lineColor_default);
		}
	}

	.iconfont {
		color: $iconColor_default;
	}

	.cart {
		position: relative;
		font-size: 16px;

		&:after {
			content: attr(data-count);
			position: absolute;
			top: -10px;
			right: -10px;
			width: 15px;
			height: 15px;
			line-height: 15px;
			border-radius: 50%;
			font-size: $fontSize_small;
			@include setLinearGradient($theme_warn,$theme_primary_toDark);
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
			color: $textColor_fordark;
		}
	}

	.mean {
		position: absolute;
		top: 100%;
		left: -1px;
		width: 100%;
		box-sizing: content-box;
		border-left: 1px solid $lineColor_default;
		border-right: 1px solid $lineColor_default;
	}

	.mean-list {
		background: $backgroundColor_inactive;
		position: relative;
		&:after{
			@include setBottomLine($lineColor_default);
		}

		&:hover {
			background: $backgroundColor_active;
		}
	}
}
