// theme
$theme_primary: #F6424A;
$theme_primary_press: darken($theme_primary,30);
$theme_primary_disabled:lighten($theme_primary,25);
$theme_primary_toDark: #F6424A;
$theme_primary_toLight: #FF9292;

$theme_warn: #FF2323;

$theme_sub1: #FFD949;
$theme_sub1_press: darken($theme_sub1,30);
$theme_sub1_disabled:lighten($theme_sub1,25);

$theme_sub2: #87DCFA;
$theme_sub2_press: darken($theme_sub2,30);
$theme_sub2_disabled:lighten($theme_sub2,25);

// background
// 前景色
$backgroundColor_foreColor: #ffffff;
// 背景色
$backgroundColor_backColor: #fafafa;
// 非活跃背景色
$backgroundColor_inactive: #f1f1f1;
// 活跃背景色
$backgroundColor_active: #cccccc;

// line
$lineColor_default: #e7e7e7;

// text
// 缺省颜色（大段）
$textColor_default: #333333;
// 标题颜色
$textColor_title: #000000;
// 次要内容颜色
$textColor_sub: #999999;
// 不重要内容颜色
$textColor_light: #b2b2b2;
// 警告颜色
$textColor_warn: $theme_warn;
// 活跃颜色
$textColor_active: darken($theme_warn,30);
// 特殊深色底的用色
$textColor_fordark: #ffffff;

// icon
// 部分图标颜色
$iconColor_default: #c1c1c1;
