@mixin setTopLine($c,$width:1px,$style:solid,$padding:0) {
  content: "";
  position: absolute;
  left: $padding;
  bottom: 0;
  right: $padding;
  height: 1px;
  border-top: $width $style $c;
  color: $c;
  overflow: hidden;
}
@mixin setBottomLine($c,$width:1px,$style:solid,$padding:0) {
  content: "";
  position: absolute;
  left: $padding;
  bottom: 0;
  right: $padding;
  height: 1px;
  border-bottom: $width $style $c;
  color: $c;
  overflow: hidden;
}
@mixin setLeftLine($c,$width:1px,$style:solid,$padding:0) {
  content: "";
  position: absolute;
  left: 0;
  top: $padding;
  bottom: $padding;
  width: 1px;
  border-left: $width $style $c;
  color: $c;
  overflow: hidden;
}
@mixin setRightLine($c,$width:1px,$style:solid,$padding:0) {
  content: "";
  position: absolute;
  right: 0;
  top: $padding;
  bottom: $padding;
  width: 1px;
  border-right: $width $style $c;
  color: $c;
  overflow: hidden;
}
