@import "../../../node_modules/normalize.css/normalize";
@import "base/fn";

html {
  background-color: $backgroundColor_backColor;
  font-family: $fontDefault;
  font-size: $fontSize_default;
  color: $textColor_default;
}

body {
  color: $textColor_default;

  &.noAside {
    .asideButton {
      display: none!important;
    }
  }
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  min-width: 1180px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: $textColor_default;
}

i {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type="button"],
input[type="password"],
input[type="text"],
input[type='search'],
input[type='tel'] {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

select {
  @extend input[type="text"];
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

button {
  @extend input[type="text"];
}

/*复选框、图片text与文本对齐*/
.trueMiddleAlign {
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 1px;
}
/*清除浮动*/
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  *zoom: 1;
}
/*绝对定位垂直居中*/
.absoluteMiddle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/*字体图标*/
.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  &.withShadow{
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  }
}
